.designation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    padding: 25px;
    font-size: 20px;
}
.designation>div{
    padding: 7px;
}